@import "App.css";

input{
    text-align: left !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

form .card {
    color: white;
    background-color: var(--elect-green);
}

form .card-body .input {
    background-color: rgba(255,255,255,0.2);
    color: white !important;
    border: dashed;
}

form .form-control:focus {
    background-color: rgba(255,255,255,0.2);
}

form .border-new{
    border-color: var(--right-pink) !important;
}

form .border-old{
    border-color: white !important;
}

form .file {
    color: white;
    background-color: rgba(255,255,255,0.2);
}

form .btn {
    color: white;
    font-weight: inherit;
}

form .btn {
    color: var(--right-pink)
}

form .btn:hover {
    color: white
}

form .fa-solid{
    color: var(--right-pink)
}

form .highlight-new {
    color: white;
    background-color: blue;
}

form .highlight-old {
    color: white;
    background-color: red;
}